<%- include('../../partials/header.ejs') %>
<%- include('../../partials/navbar.ejs') %>
<body>
    <div class="container">
        <br>
        <div class="card">
            <div class="card-header">
                <h2> Novo artigo:</h2>
            </div>
           
            <div class="card-body">
                <form method="POST", action="/categories/save">
                    <input type="text" class="form-control" name="title" placeholder="Escreva o título do artigo aqui">
                    <textarea class="form-control" placeholder="Digite seu artigo aqui" name="body" id="article"></textarea>
                    <label>Selecione a categoria:</label>
                    <select name="category" class="form-control">
                        <% categories.forEach((category) => { %>
                            <option value="<%= category.id %> "> <%= category.title %> </option>
                         <% }) %>   
                    </select>
                    <br>
                    <button class="btn btn-success">Cadastrar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include('../../partials/footer.ejs')%>
<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        //language:"pt_BR",
        selector:"#article",
        plugins: [
                    'advlist',
                    'autolink',
                    'link',
                    'image',
                    'lists',
                    'preview',
                    'searchreplace',
                    'wordcount',
                    'fullscreen',
                    'insertdatetime',
                    'media',
                    'save',
                    'table',
                    'emoticons',
                ]
    })
</script>